<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>
<body>
<h1>Delete succeed</h1>
    <form action="/main" method="get">
        <input type="submit" name="submit" value="return"/>
    </form>
</body>
</html>
